<div class="loginmodal-container">
	<h1 style="color:#182332;">Login</h1>
	<br> {{message}}
	<form action="/login" method="post">
		<div class="form-group">
			<input class="form-control" type="text" placeholder="User ID" name="username" id="username" required>
		</div>
		<div class="form-group">
			<input class="form-control" type="password" placeholder="Enter Password" name="password" id="password" required>
		</div>
		<input type="submit" name="login" class="btn login loginmodal-submit" value="Login">
	</form>


</div>
<style>
	.loginmodal-container {
		padding: 30px;
		max-width: 350px;
		width: 100% !important;
		background-color: #F7F7F7;
		margin: 0 auto;
		border-radius: 2px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		overflow: hidden;
		text-align: center;
		margin-top: 100px;
	}

	.loginmodal-container input[type=submit] {
		width: 100%;
		display: block;
		margin-bottom: 10px;
		position: relative;
	}

	.loginmodal {
		text-align: center;
		height: 36px;
		padding: 0 8px;

	}

	.loginmodal-submit {

		border: 0px;
		color: #d7d0d0;

		text-shadow: 0 1px rgba(0, 0, 0, 0.1);
		background-color: #35597b;
		padding: 17px 0px;


	}

	.loginmodal-submit:hover {
		border: 0px;
		text-shadow: 0 1px rgba(0, 0, 0, 0.3);
		background-color: #487097;
		color: #fff;
	}

	.loginmodal-container a {
		text-decoration: none;
		color: #666;
		display: inline-block;
		opacity: 0.6;
		transition: opacity ease 0.5s;
	}
</style>