<head>
	<title>Template</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="vendor/jquery/jquery.js" type="text/javascript"></script>
	<link href="vendor/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="vendor/Bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<style>

</style>
